 <!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <style type="text/css">
      body{
        padding-top: 70px;
      }
    </style>
  </head>

  <body>
    <nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Ereceipt Tool</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="nav navbar-nav">
            <li><a href="{{url_for('frontend.view_donations')}}">View Donation</a></li>
            <li><a href="{{url_for('frontend.donation_form_page')}}">Submit Donation Form</a></li>
            <li><a href="{{url_for('frontend.donor_creation_page')}}">Donor Creation</a></li>
            <li class="active"><a href="{{url_for('frontend.donor_creation_page')}}">Bulk Upload</a></li>
            <li><a href="Login.html">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container">
    <div class="jumbotron">

              <div class="text-center">

  <div class="row-fluid">
  <h2 class="rw-sentence">
  BULK UPLOAD

  </h2>
</div>
</div>


    <style type="text/css">
p {
    padding: 25px 50px;
}
</style>
      <form class="form-horizontal" role="form" enctype="multipart/form-data" method="post">


      <div class="form-group">
    <label for="pwd" class="col-xs-5 control-label"><h4>View the Upload Template File:</h4></label>
    <a href="Template.xlsx" class="col-xs-1 control-label" target="_blank"><h4>Template.xlsx</h4></a >
      </div>

      <div class="form-group">

      <label for="upload" class="col-xs-5 control-label">File Upload:</label>

      <form method="post" class="col-xs-5 control-label" role="form" enctype="multipart/form-data">
          <input type="file" class="col-xs-5 control-label" name="file" id="txtFileUpload" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
        </div>


   <br>

  <div class="form-group">
  <div class="col-sm-offset-4 col-sm-8">

    <div class="checkbox col-xs-5 control-label">
     <label><input type="checkbox" onclick="if(this.checked) {this.form.action='/backend/excel?check=1'} else {this.form.action='/backend/excel'}"> Download in .zip format? </label>
    </div>
  </div>
  </div>


   <div class="form-group">
     <div class="col-sm-offset-4 col-sm-8">
    <p>
      <button type="submit" class="btn btn-primary">Submit</button>
    </p>
   </div>
      </div>
      </form>
</form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  </body>
</html>
