 <!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container">
      </br></br></br></br></br></br>
      <div class="col-md-4 col-md-offset-4 vert-offset-top-2">
      <h2>File Upload</h2>
      <form method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
      <div class="col-md-8 col-md-offset-0">
        <div class="form-group">
          <input type="file" name="file" id="txtFileUpload" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
        </div>
      </div>
   <br>     <div class="checkbox">
		  <label>
		     <input type="checkbox"> Download in .zip format? </label>
        </div>

       <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <div class="form-group">
	  		  <label for="pwd">Template File:</label>
	  		  <a href="test.html" target="_blank">Template.csv</a >
        </div>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  </body>
</html>
