<!DOCTYPE html>
<script type="text/javascript">
function dropdownChange(value){
  if (value == "cash")
  {
    document.getElementById("cash").style.display = "block";
    document.getElementById("cheque").style.display = "none";
    document.getElementById("chequeDate").value = "";
    document.getElementById("chequeNumber").value = "";
	document.getElementById("chequeDate").style.display = "none";
    document.getElementById("internet").style.display = "none";
    document.getElementById("transactionId").value = "";
  }else if (value == "cheque") {
    document.getElementById("cheque").style.display = "block";
    document.getElementById("internet").style.display = "none";
    document.getElementById("cash").style.display = "none";
  }else if (value == "internet") {
    document.getElementById("internet").style.display = "block";
    document.getElementById("cheque").style.display = "none";
    document.getElementById("chequeDate").value = "";
    document.getElementById("chequeNumber").value = "";
    document.getElementById("cash").style.display = "none";
  }
}


function onSave()
{
  document.form1.action = "backend/create_donor"
    // document.Form1.target = "_blank";    // Open in a new window
    document.form1.submit();             // Submit the page
  return true;
}

function reset()
{
  document.getElementById("inputName").value = "";
  document.getElementById("inputPhone").value = "";
  document.getElementById("inputEmail").value = "";
  document.getElementById("inputAddress").value = "";
  document.getElementById("inputTown").value = "";
  document.getElementById("inputCountry").value = "";
}

function onSubmitAndDownload()
{
  document.form1.action = "backend/create_donation_and_return_pdf/"
    // document.Form1.target = "_blank";    // Open in a new window
    document.form1.submit();             // Submit the page
  return true;
  }

function onSubmit()
{
  document.form1.action = "backend/create_donation/"
    // document.Form1.target = "_blank";    // Open in a new window
    document.form1.submit();             // Submit the page
  return true;
}

function onSubmitAndSend()
{
  document.form1.action = "backend/create_donation_and_email_pdf/"
    // document.Form1.target = "_blank";    // Open in a new window
    document.form1.submit();             // Submit the page
  return true;
}
</script>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<style type="text/css">
body{
  padding-top: 70px;
}
</style>
</head>


<body>
<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Ereceipt Tool</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav navbar-nav">
        <li><a href="Templatecsv.html">View Donation</a></li>
        <li  class="active"><a href="donate">Submit Donation Form</a></li>
        <li><a href="createDonor">Donor Creation</a></li>
        <li><a href="BulkUpload.html">Bulk Upload</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <div class="jumbotron">

    <div class="text-center">

      <div class="row-fluid">
        <h2 class="rw-sentence">
          DONATION FORM
        </h2> <br>
      </div>
    </div>


    <style type="text/css">
p {
  padding: 25px 50px;
}
    </style>

    <form class="form-horizontal" id="form1" name="form1" method="post" role="form">

	    <div class="form-group">
			<label for="donor" class="control-label col-xs-5">Select Donor </label>
			<div class="col-md-2 dropdown">
				<select class="form-control col-md-4" name="donor" onChange="dropdownChange(this.value)">
					{% for donor in donors %}
				<option value="{{ donor.email_address }}">{{ donor.email_address }}</option>
					{% endfor %}
				</select>
			</div>
			<a type="button" class="btn btn-success btn-s" href="createDonor"> Add </a>
		</div>
			
      <div class="form-group">
        <label for="donationDate" class="control-label col-xs-5">Donation Date </label>
        <div class="col-md-2">
          <input type="date" class="form-control" id="donationDate" name="donationDate">
        </div>
      </div>

      <div class="form-group">
        <label for="donationAmount" class="control-label col-xs-5">Donation Amount </label>
        <div class="col-md-2">
          <input type="number" class="form-control" id="donationAmount" name="donationAmount">
        </div>
      </div>

      <div class="form-group">
        <label for="donationMode" class="control-label col-xs-5">Donation Mode </label>
        <div class="col-md-2 dropdown">
          <select class="form-control col-md-2" name="donationMode" onChange="dropdownChange(this.value)">
            <option value=""></option>
            <option value="cash">Cash</option>
            <option value="cheque">Cheque</option>
            <option value="internet">Internet</option>
          </select>
        </div>
      </div>


      <div id="cheque" style="display:none">
        <div class="form-group">
          <label for="chequeDate" class="control-label col-xs-5">Cheque Date </label>
          <div class="col-md-2">
            <input type="date" class="form-control" id="chequeDate" name="chequeDate">
          </div>
        </div>

        <div class="form-group">
          <label for="chequeNumber" class="control-label col-xs-5">Cheque Number </label>
          <div class="col-md-2">
            <input type="number" class="form-control" id="chequeNumber" name="chequeNumber">
          </div>
        </div>
      </div>

      <div id="internet" style="display:none">
        <div class="form-group">
          <label for="transactionId" class="control-label col-xs-5">Transaction Id </label>
          <div class="col-md-2">
            <input type="number" class="form-control" id="transactionId" name="transactionId">
          </div>
        </div>
      </div>

      <div class="form-group">

        <div class="col-md-offset-2 col-md-10">
			<input type="checkbox" name="download" value="Download">Download receipt<br>
			<input type="checkbox" name="email" value"Email">Send Email<br>

        <div class="control-label col-xs-5">
	<input type="checkbox" name="download_pdf" value="download_pdf">Download receipt<br>
        <input type="checkbox" name="email_pdf" value"email_pdf">Send Email<br>

          <p>
          <button type="submit" class="btn btn-primary btn-s" name="formSubmit" onClick="onSubmit()">Submit</button>
          <!--button type="submit" class="btn btn-primary btn-s" name="formSubmitAndDownload" onClick="onSubmitAndDownload()" >Submit and Download e-Receipt</button>
          <button type="submit" class="btn btn-primary btn-s" name="formSubmitAndSend" onClick="onSubmitAndSend()">Submit and Send e-Receipt</button-->
          </p>
        </div>
      </div>
	  
    </form>
  </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
  </html>

