<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container">
      <h2>New Donor</h2>
      <form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputNameLabel" class="col-sm-2 control-label">Name</label>
    <div class="col-md-4">
      <input type="text" class="form-control" id="inputName" placeholder="Name">
    </div>
  </div>

<div class="form-group">
    <label for="inputPhoneLabel" class="col-sm-2 control-label">Contact No:</label>
    <div class="col-md-4">
      <input type="tel" class="form-control" id="inputPhone" placeholder="Phone">
    </div>
  </div>

<div class="form-group">
    <label for="inputEmailLabel" class="col-sm-2 control-label">Email</label>
    <div class="col-md-4">
      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
  </div>

<div class="form-group">
    <label for="inputAddressLabel" class="col-sm-2 control-label">Address</label>
    <div class="col-md-4">
      <textarea class="form-control" id="inputAddress" rows="4" placeholder="Address"></textarea>
    </div>
   </div>

   <div class="form-group">
    <label for="inputTownLabel" class="col-sm-2 control-label">Town/City</label>
    <div class="col-md-2">
      <input type="text" class="form-control" id="inputTown" placeholder="Town or City">
    </div>
   </div>

   <div class="form-group">
    <label for="inputCountryLabel" class="col-sm-2 control-label">Country</label>
    <div class="col-md-2">
      <select class="form-control bfh-countries" data-country="US"></select>
    </div>
   </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Save</button>
    </div>
  </div>
</form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
