<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container">
      </br></br></br></br></br></br>
      <div class="col-md-offset-2 vert-offset-top-4">
      <h2>Example Template</h2>
      <form class="form-horizontal" role="form">
        <div class="form-group">

	<table class="table table-bordered">
	    <thead>
	    <tr>
			<th data-field="donorname">Donor Name</th>
			<th data-field="phno">Contact No.</th>
			<th data-field="email">Email</th>
			<th data-field="address">Address</th>
			<th data-field="town">Town/City</th>
			<th data-field="country">Country</th>
			<th data-field="date">Donation Date</th>
			<th data-field="amount">Donation Amount</th>
			<th data-field="mode">Mode of Payment</th>
	    </tr>
	    </thead>
	    <tr>
			<th data-field="donorname">Anand Krishnan</th>
			<th data-field="phno">9840334433</th>
			<th data-field="email">ank@abcd.com</th>
			<th data-field="address">This is the address</th>
			<th data-field="town">Chennai</th>
			<th data-field="country">India</th>
			<th data-field="date">12-12-2014</th>
			<th data-field="amount">500.Rs</th>
			<th data-field="mode">Cash</th>
	    </tr>
	    <tr>
			<th data-field="donorname">Arun Krishnan</th>
			<th data-field="phno">9845734433</th>
			<th data-field="email">ark@abcd.com</th>
			<th data-field="address">This is the address</th>
			<th data-field="town">Chennai</th>
			<th data-field="country">India</th>
			<th data-field="date">12-10-2014</th>
			<th data-field="amount">1000.Rs</th>
			<th data-field="mode">Cheque</th>
	    </tr>
	</table>
	</div>
       </form>
   </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>